// Content wrapper
#wrapper {
  background: white;
  @include outer-container;
  padding: 25px 20px 5px 20px;
  margin-bottom: 30px;
}

.content-box {
  @include outer-container;

  .main-column {
    @include span-columns(8);

    &.no-sidebar {
      @include span-columns(12);
    }
  }

  .sidebar-column {
    @include span-columns(4);
  }
}