// Content wrapper
.content-box {
  $content-padding: 20px;
  @include outer-container;
  background: white;

  .main-column {
    @include span-columns(8);
    padding: $content-padding 0 5px $content-padding;
  }

  .sidebar-column {
    @include span-columns(4);
    padding: $content-padding $content-padding $content-padding 0;
  }
}