// Primary site header
.masthead {
  padding: 20px;

  .nav-toggle {
    text-align: right;

    a {
      background: white;
      font-size: 22px;
      display: inline-block;
      height: 36px;
      line-height: 34px;
      width: 36px;
      text-align: center;
      // border: 1px solid $border-color;
      // border-radius: 4px;
    }
  }
}