// Featured images representing posts
.primary-post,
.secondary-post {
  margin-bottom: 2.36%;
  background-color: $thumb-fallback;
  position: relative;

  a {
    display: block;
    text-decoration: none;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    position: relative;

    img {
      min-width: 100%;
      height: auto;
    }
  }
}

.primary-post {
  @include span-columns(12);
  @include omega();

  a {
    height: 320px;
  }
}

.secondary-post {
  @include span-columns(6);

  a {
    height: 220px;
  }
}

// nth-child helper for post thumbnails
.front-page {
  .secondary-post {
    @include omega(odd);
  }
}
.back-page {
  .secondary-post {
    @include omega(even);
  }
}

// Title text inside post thumbnails
.thumbnail-title {
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 0;
  left: 0;
  background: rgba(black, 0);

  a:hover & {
    background: rgba(black, 0.7);
    @include transition(background 250ms ease-in-out);
  }

  // Title
  h2 {
    padding: 15px 20px;
    line-height: 1.4;
    color: rgba(white, 0.8);
    display: block;
    text-decoration: none;
  }
}

// Comments
.comment-count {
  position: absolute;
  right: 20px;
  top: 20px;
  color: rgba(white, 0.9);
  font-size: 14px;
  text-align: center;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  line-height: 36px;
  background: transparent;
  border: 1px solid rgba(white, 0.5);
  display: inline-block;
}