// Fonts
$base-font-family: "Didact Gothic", Helvetica, Arial, sans-serif;
$base-font-size: 16px;

// Colors
$link-color: #777;
$border-color: #ddd;

$thumb-fallback: #eee;

$color-1: #dbe2e9; // blue light
$color-2: #89ba2c; // green
$color-3: #424f5c; // blue dark
$color-4: #ffffff; // white

$panel-width-S: 90%;
$panel-width-M: 70%;
$panel-width-L: 50%;

// z-index
$header-zindex: 4;
$sidebar-zindex: 3;
$shadow-zindex: 2;
$main-zindex: 1;